<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form method="POST" action="/calculate">
            <div>
                <label>Number one: <input name="number_one"></label>
            </div>
            <div>
                <label>Number one: <input name="number_two"></label>
            </div>
        </form>
    </body>
</html>
